.App {
  text-align: center;
}
html, body{
  height: 100%;
  background: linear-gradient(to top, #fcfcfc, #a6a6a4);
}

/* body{
    background-color: rgb(8, 11, 11);
    color: #fff;
} */
.taskBg{
background-color: white;
border-radius: 6px;
margin-bottom: 20px;
padding: 10px 140px 10px 15px;
text-align: left;
font-size: 22px;
position: relative;

}
.taskBg div{
   display: flex;
   align-items: center;
}

.taskNumber{
  color: black;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
.taskBg .taskText{
  flex: 1;
  color: black;
  

}
.taskBg .done .taskText{
  
  text-decoration: line-through;
  opacity: 0.3;

}
.taskBg .iconsWrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span{
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #0d6efd;
}
.taskBg .iconsWrap span :hover{
  color: yellow;
}
.mr-20{
  margin-right: 20px;
}
.cancelButton{
  margin-left:10px;
}
/* FONT AWESOME ICON COLOR */
.fontAwesomeIconColor{
  color: #0d6efd
}

